header {
	display: flex;
	background-color: white;
}
head {
    background-image: url(images/Hback.jpg);
}
.alignleft{
    margin-top: -50;
    margin-left: -25;
}
body {
	background: rgb(255, 255, 255);
	background-repeat: repeat;
	background-position: center;
	font-family: "Oswald", serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}
.LBack {
    height: 600px;
    position: absolute;
    right: 30%;
    background-image: url(images/Hback.jpg);
}
.post-info {
	color: grey;
}
.post {
	display: flex;
	background: rgb(225,225,225);
	border: 2px solid black;
	border-radius: 2px;
	padding: 5px 20px 10px 10px;
}
.upper {
	color: blue;
}
.upper2 {
	color: grey;
}
.C1 {
	display: flex;
}
.rer {
	color: red;
	padding: 2 2px;
	background: rgb(225,225,225);
}
.blob{
	padding: 2 2px;
	background: rgb(225,225,225);
}
.dot{
	border-bottom: 1px dotted;
    text-decoration: none;
    display: inline-block;
    height: 1em;
    line-height: 1.05em;
}
.coder{
	color: red;
	background: rgb(180,180,180);
}
.back2{
	background: rgb(150,150,150);
}
.tag{
	color: blue;
	background: rgb(180,180,180);
}
.butor{
    margin-top: 20px;
    width: 125;
    height: 75;
    font-size: 50;
    background-color: #000000;
    color: white;
}

.Rtext{
    text-align: center;
    font-size: 50;
}

.title2{
    padding: 0 30;
    color: #000000;
    font-size: 40;
    background-color: white;
    text-decoration: none;
}
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}
.hidden {
    display: none;
}
.gena {
    display: flex;
    border: 5px solid black;
}
.genImg {
    margin-top: -5;
    margin-left: -5;
    float: inline-start;
    border: 5px solid black;
    width: 175;
    height: 175;
    margin-right: 20;
}
.true {
    border: 5px solid green;
	border-radius: 2px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    padding: 5px 5px;
}
.false {
    border: 5px solid red;
	border-radius: 2px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    padding: 5px 5px;
}
.otvetis {
    display: flex;
}
.baza {
    border: 5px solid black;
	border-radius: 2px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    padding: 5px 5px;
}
.carda {
    transition: width 0.5s, height 0.5s;
    width: 89; 
    height: 135; 
    text-align: center; 
    margin: 5px;
}
.carda:hover {
    border: 5px solid aqua;
	border-radius: 2px;
}
.buttonActive {
    background-color: blue;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.tap {
  transform: rotate(90deg);
  width: 89; 
  height: 135; 
  text-align: center; 
  margin: 5px;
}
#canvase {
  display: grid; /* Включаем сетку */
  grid-template-columns: repeat(4, 1fr); /* 3 столбца одинаковой ширины */
  grid-template-rows: repeat(1, 1fr); /* 100px в высоту для каждой строки */
  /*gap: 2px; /* Расстояние между ячейками */
  border: 1px solid black;
}