header {
	display: flex;
	background-color: white;
}
head {
    background-image: url(images/Hback.jpg);
}
.alignleft{
    margin-top: -50;
    margin-left: -25;
}
body {
	background: rgb(255, 255, 255);
	background-repeat: repeat;
	background-position: center;
	font-family: "Oswald", serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}
.LBack {
    height: 600px;
    position: absolute;
    right: 30%;
    background-image: url(images/Hback.jpg);
}
.post-info {
	color: grey;
}
.post {
	display: flex;
	background: rgb(225,225,225);
	border: 2px solid black;
	border-radius: 2px;
	padding: 5px 20px 10px 10px;
}
.upper {
	color: blue;
}
.upper2 {
	color: grey;
}
.C1 {
	display: flex;
}
.rer {
	color: red;
	padding: 2 2px;
	background: rgb(225,225,225);
}
.blob{
	padding: 2 2px;
	background: rgb(225,225,225);
}
.dot{
	border-bottom: 1px dotted;
    text-decoration: none;
    display: inline-block;
    height: 1em;
    line-height: 1.05em;
}
.coder{
	color: red;
	background: rgb(180,180,180);
}
.back2{
	background: rgb(150,150,150);
}
.tag{
	color: blue;
	background: rgb(180,180,180);
}
.butor{
    margin-top: 20px;
    width: 125;
    height: 75;
    font-size: 50;
    background-color: #000000;
    color: white;
}

.Rtext{
    text-align: center;
    font-size: 50;
}

.title2{
    padding: 0 30;
    color: #000000;
    font-size: 40;
    background-color: white;
    text-decoration: none;
}
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}
.hidden {
    display: none;
}
.gena {
    display: flex;
    border: 5px solid black;
}
.genImg {
    margin-top: -5;
    margin-left: -5;
    float: inline-start;
    border: 5px solid black;
    width: 175;
    height: 175;
    margin-right: 20;
}