header {
	display: flex;
	background: rgb(255, 255, 255);
}

body {
	background: rgb(255, 255, 255);
	background-repeat: repeat;
	background-position: center;
	font-family: "Oswald", serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}
.post-info {
	color: grey;
}
.post {
	display: flex;
	background: rgb(225,225,225);
	border: 2px solid black;
	border-radius: 2px;
	padding: 5px 20px 10px 10px;
}
.upper {
	color: blue;
}
.upper2 {
	color: grey;
}
.C1 {
	display: flex;
}
.rer {
	color: red;
	padding: 2 2px;
	background: rgb(225,225,225);
}
.blob{
	padding: 2 2px;
	background: rgb(225,225,225);
}
.dot{
	border-bottom: 1px dotted;
    text-decoration: none;
    display: inline-block;
    height: 1em;
    line-height: 1.05em;
}
.coder{
	color: red;
	background: rgb(180,180,180);
}
.back2{
	background: rgb(150,150,150);
}
.tag{
	color: blue;
	background: rgb(180,180,180);
}
.butor{
    width: 125;
    height: 75;
    font-size: 50;
    background-color: #000000;
    color: white;
}

.Rtext{
    text-align: center;
    font-size: 50;
}

.title2{
    padding: 0 30;
    color: #000000;
    font-size: 40;
    background-color: white;
    text-decoration: none;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.hidden {
    display: none;
  }